*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

h2{
    font-size: 2rem;
}

/*CREARE UN CONTENITORE IN LARGHEZZA CON MARGINE AUTO
 PER TUTTI (HEADER, MAIN, FOOTER)*/
 .jumbo{
    max-width: 950px;
    margin: 0 auto;
}

.contain{
    max-width: 800px;
    margin: 0 auto;
}

/*bottone generico*/

.bottone-blu{
    text-align: center;
    font-size: .8rem;
    padding: .4rem .7rem;
    color: white;
    background-color: #0061ff;
}

/*clearflix*/

.flex{
    display: flex;
}

.flex-bet{
    justify-content: space-between;
}

.flex-centrato{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

/*header------------------------------------------------------------------------*/

header nav section{
    /*padding: 1.3rem 0;*/
    padding: 1rem 0 .3rem;
}


header nav section div>img{
    scale: .8;
    margin-right: 1rem;
}

header section div>ul>li{
    font-size: .8rem;
    text-align: center;
    color: #656565;
    
    margin-top: .2rem;
    font-weight: bold;
    /*margin: .1rem 1rem;*/
}

header section div ul.right li{
    margin-right: 1.5rem;
}

header section div ul.left li{
    margin-left: 1.5rem;
}



header div.sopra{
    margin-bottom: .8rem;
}


/*main-----------------------------------------------------------------------------*/
main{
    position: relative;
}

main section.bg{
    background-color: #b4d0e7;
    height: 580px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

/*main jambo-----------------------------------*/
main section.jumbo div>h1{
    font-size: 4rem;
    padding: 3rem 0;
}


main section.jumbo section div:first-child{
    width: 32%;
}

p{
    font-size: .8rem;
}

main section.jumbo section div div.bottone-blu{
    width: 60%;
    margin: 1.5rem 0;
}

main section.jumbo section div i{
    font-size: 2.5rem;
    padding-top: 2.5rem;
}

main section.jumbo section div:last-child{
    width: 68%;
}


main section.jumbo section div img{
    width: 100%;
}

/*QUI FINISCE JAMBO MAIN-------------------*/


/*PRIMA PARTE*/

section.contain div.titolo-due>h2{
    font-size: 2rem;
    padding-top: 3.5rem;
}

section.contain div.scelta{
    font-size: .7rem;
    color: gray;
    padding: 3rem 0 2.5rem;
    font-weight: bold;
}

section.contain div>input{
    margin-right: .1rem;
}

section.contain div>input:nth-child(2){
    margin-left: 2.5rem;
}

section div.colonnina {
    padding: 1.5rem;
}

div.colonnina h3, section.riga h3{
    font-size: 1.2rem;
}

section.contain section{
    margin-bottom: 2rem;
}

section div.colonnina div.servizi ul li{
    margin: .5rem 0;
}

section div.tipologia{
    text-align: center;
    font-size: .7rem;
    padding: .5rem 0;
    border-bottom: solid 1px black;
}

.colonna{
    width: 30%;
    border: 1px black solid;
}

div.colonnina{
    font-size: .8rem;
}

div.colonnina div.prezzo{
    font-weight: bold;
    font-size: .7rem;
    padding: 1rem 0 .3rem;
}

div.colonnina div.durata{
    color: gray;
    padding-bottom: 2rem;
}

div.colonnina div.bottone-blu{
    margin: 1.5rem 0;
}

div.colonnina div.separatore{
    margin: 2rem 0;
}

div.colonnina h4{
    margin-bottom: 1rem;
}

div.servizi ul {
    list-style: url("/img/check-solid.svg");
    color: black;
}

section.riga{
    border: 1px solid black;
}

section.riga div p:nth-child(2){
    margin: 1rem 0 1.5rem;
    font-weight: bold;
}

section.riga div:nth-child(2) div:nth-child(2){
    width: 30%;
    margin-left: .3rem;
}

section.riga>div:nth-child(2)>div{
    margin: 2rem;
}

section.partner{
    margin-top: 5rem;
}

section.partner div img{
    width: 100%;
} 


div.corto{
    width: 110%;
}
/*Sezione delle items*/
.row-items{
    margin: 2rem 0;
}

.item{
    width: 30%;
}

.img-item{
    width: 200px;
}

/*terza parte del main*/

.parte-corta{
    width: 60%;
}

/*quarta parte del main*/


.quadrati{
    width: calc(100%/3);
    height: calc(100vw/3);
    border: solid black 1px;
    background-color: aqua;
}

.quadratini{
    width: calc(100%/2);
    height: calc(100%/2);
    border: 1px solid black;
    background-color: orange;
}



.img-quadratini{
    filter: invert(100%);
    width: 50%;
    margin: 0 2rem;
}

/*riga azzurra*/

div.riga-azzurra{
    background-color: #b4d0e7;
}

div.riga-azzurra>div{
    padding: 5rem 0;
}

div.riga-azzurra div>div{
    width: 60%;
}

div.riga-azzurra div>div:first-child{
    color: #61082b;
}

div.riga-azzurra div>div:last-child{
    position: relative;
}

div.riga-azzurra div>div:last-child>div{
    position: absolute;
    right: 0;
    background-color: white;
    color: black;
}

/*domande frequenti*/

section.domande{
    padding: 5rem 0;
}

section.domande>div{
    padding: 1rem 0;
}

section.domande div.flex{
    font-size: .8rem;
    font-weight: bold;
}

section.domande div>i{
    margin-right: 2rem;
    font-size: .6rem;
}

/*footer-------------------------------------------------------------------*/

footer{
    background-color: #000000;
    color: white;
    font-size: .8rem;
}

footer div.jumbo{
    padding: 2rem 0;
}

footer div.jumbo div{
    padding: 1.4rem 0;
}

footer div.jumbo ul li{
    padding: .5rem 0;
}

footer div.jumbo ul li:first-child{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

footer div.jumbo div:nth-child(n+2){
    opacity: 40%;
}

/*colori*/

.bg-ciano{
    background-color: #b4d0e7;
}

/*elementi da cancellare*/

.sfondo{
    background-color: red;
}

.forma{
    height: 200px;
    background-color: blue;
}

.forma-due{
    width: 100%;
    height: 800px;
    background-color: yellow;
}

.trat{
    border: 2px solid green;
}

.aa{
    width: 100%;
    background-color: aqua;
}

