*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

ul{
    list-style-type: none;
}

/*CREARE UN CONTENITORE IN LARGHEZZA CON MARGINE AUTO
 PER TUTTI (HEADER, MAIN, FOOTER)*/
 .jambo{
    max-width: 1000px;
    margin: 0 auto;
}

.contain{
    max-width: 500px;
    margin: 0 auto;
}

/*bottone generico*/

.bottone-blu{
    text-align: center;
    font-size: .7rem;
    padding: .4rem .6rem;
    color: white;
    background-color: #0061ff;
    display: inline;
}


/*clearflix*/

.flex{
    display: flex;
}

.flex-bet{
    justify-content: space-between;
}

/*header*/

header nav section{
    padding: 1.3rem 0;
}


header nav section div>img{
    scale: .8;
}

header section div>ul>li{
    font-size: .8rem;
    color: #656565;
    display: inline;
    /*margin: .1rem 1rem;*/
}


header section div>button{
    margin-right: 1rem;
}

/*main*/

main section:first-child{
    height: 500px;
}

/*footer*/

footer{
    background-color: #000000;
}

/*colori*/

.bg-ciano{
    background-color: #b4d0e7;
}

/*elementi da cancellare*/

.sfondo{
    background-color: red;
}

.forma{
    height: 200px;
    background-color: blue;
}

.forma-due{
    width: 100%;
    height: 500px;
    background-color: yellow;
}

.trat{
    border: 2px solid green;
}